@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?z1klh');
	src:url('fonts/icomoon.eot?z1klh#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?z1klh') format('truetype'),
		url('fonts/icomoon.woff?z1klh') format('woff'),
		url('fonts/icomoon.svg?z1klh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e600";
}
.icon-location:before {
	content: "\e900";
}
.icon-clock:before {
	content: "\e601";
}
.icon-drawer:before {
	content: "\e602";
}
.icon-bubble:before {
	content: "\e603";
}
.icon-users:before {
	content: "\e604";
}
.icon-plus:before {
	content: "\e800";
}
.icon-arrow-up:before {
	content: "\e901";
}
.icon-facebook:before {
	content: "\e607";
}

